.main-header {
    overflow: hidden;
    background-color: #6E6E6E;
    display: block;
    width: 100%;
}

.main-header a {
    float: left;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 5px;
}

.main-header_logo a {
    margin: 0px 0 0 70px;
    padding: auto;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    background: #33CCCC;
    animation: color 9s infinite linear;
    text-align: center;
    border: 5px outset black;
}


.navigation-links {
    float: right;
    margin-top: -15px;
    margin-right: 70px;
}

@keyframes color {
    0% {
        background: #352F44;
    }

    20% {
        background: #5C5470;
    }

    40% {
        background: #B9B4C7;
    }

    60% {
        background: #FAF0E6;
    }

    80% {
        background: #B9B4C7;
    }

    100% {
        background: #352F44;
    }
}