.place-detail {
    margin-top: -150px;
}

.table-of-content {
    border: 2px dashed black;
    width: 500px;
    height: 300px;
}

.table-of-content th,
td {
    border: 1px solid black;
}

.action-place a {
    text-decoration: none;
    font-size: 15px;
    padding: 0 1px 0 1px;
    color: black;
    border: 1px groove black;
    background-color: white;
}

.action-place button {
    font-size: 14px;
    color: black;
    background-color: white;
}