.update-place-form {
    margin-top: -200px;
}

.update-place-form label {
    float: left;
}

.update-place-form input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
}

.update-place-form input[type=submit] {
    width: 100%;
    background-color: #d8d52b;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-place-form p {
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    background-color: #6E6E6E;
    color: rgb(0, 0, 0);
    padding: 14px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-place-form a {
    text-decoration: none;
}

.update-place-form input[type=submit]:hover {
    background-color: #6E6E6E;
}