.chat-box {
    position: relative;
    margin-top: -70px;
    width: clamp(500px, 55%, 1000px);
    height: 80vh;
    border-radius: 1%;
    background-color: rgb(202, 202, 202);
}

.chat-element .text-area {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 30px 30px;
    padding-left: 10px;
    width: 75%;
    height: 50px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px ridge black;
}

.chat-element button {
    position: absolute;
    width: 15%;
    height: 55px;
    bottom: 0;
    right: 0;
    font-size: 25px;
    border-radius: 2%;
    font-family: cursive;
    margin: 0 30px 30px 0
}